// 圆角
// 默认8px,
// 范围 2-24px, 偶数和5的倍数
.rounded {
  border-radius: 8px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-none {
  border-radius: none;
}
@for $i from 2 through 24 {
  @if $i % 2==0 or $i % 5==0 {
    .rounded-#{$i} {
      border-radius: #{$i}px;
    }
    @each $key, $value in tl top-left, tr top-right, bl bottom-left,
      br bottom-right
    {
      .rounded-#{$key}-#{$i} {
        border-#{$value}-radius: #{$i}px;
      }
    }
    @each $key, $value, $value2 in t top-left top-right,
      b bottom-left bottom-right, l top-left bottom-left,
      r top-right bottom-right br bottom-right
    {
      .rounded-#{$key}-#{$i} {
        border-#{$value}-radius: #{$i}px;
        border-#{$value2}-radius: #{$i}px;
      }
    }
  }
}

@each $key, $value, $value2 in t-full top-left top-right,
  b-full bottom-left bottom-right, l-full top-left bottom-left,
  r-full top-right bottom-right br bottom-right
{
  .rounded-#{$key} {
    border-#{$value}-radius: 9999px;
    border-#{$value2}-radius: 9999px;
  }
}
.border {
  border: 1px solid #e4e7ed;
}
.border-b,
.border-l,
.border-r,
.border-t,
.border-y, 
.border-x{
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    // 多加0.1%，能解决有时候边框缺失的问题
    width: 199.8%;
    height: 199.7%;
    transform: scale(0.5, 0.5);
    border: 0 solid #e4e7ed;
    z-index: 2;
  }
}

.border-t::after{
  border-top-width: 1px;
}

.border-l::after {
  border-left-width: 1px;
}

.border-r::after {
  border-right-width: 1px;
}

.border-b::after {
  border-bottom-width: 1px;
}

.border-y::after {
  border-width: 1px 0;
}
.border-x::after {
  border-width: 0 1px;
}

.border-current {
  border-color: currentColor;
}

// 取消边框
.border-none {
  border: none !important;
  &::after {
    border: none !important;
  }
}