/*
 * @Author: Wanko
 * @Date: 2022-06-26 16:45:39
 * @LastEditors: Wanko
 * @LastEditTime: 2024-06-27 14:06:14
 * @Description: 基础样式
 */

// 标题无样式
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// 列表无样式
ol,
ul {
  list-style: none;
}

// 全局盒模型
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 全局字体大小和颜色
page,
html {
  color: #333;
  font-size: 14px;
}

// 不可给page设置100%，会使得页面的原始滚动范围失效，如果页面过长，会使得滚动区域的内容在tabbar内（当tab存在或navbar存在时，100%会使得页面的高度是整个屏幕，tab的高度和navbar的高度不在里面）
html,
body,
#app {
  height: 100%;
}

.shadow {
  box-shadow: 0 0 15px rgba(224, 224, 224, 0.35);
}

.hover {
  &:active {
    opacity: 0.6;
  }
}

// 一般只用在每个页面的最顶层元素，限制此页面宽度为屏幕宽度，不会被子元素撑开
.page {
  height: 100%;
  overflow: hidden;
}

// 底部安全区域
.safe-area-inset-bottom {
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

// 重置按钮样式
.reset-button {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  &::after {
    border: none;
  }
}
