// 居中对齐
.m-auto {
  margin: auto;
}
// 块级容器右对齐
.m-right {
  margin-left: auto;
}

// 默认 15px 间距
@each $key, $value in m margin, p padding, mt margin-top, ml margin-left,
  mr margin-right, mb margin-bottom, pt padding-top, pb padding-bottom,
  pl padding-left, pr padding-right
{
  .#{$key} {
    #{$value}: 15px;
  }
}
@each $key, $value, $value2 in mx margin-left margin-right,
  my margin-top margin-bottom, px padding-left padding-right,
  py padding-top padding-bottom
{
  .#{$key} {
    #{$value}: 15px;
    #{$value2}: 15px;
  }
}

@for $i from 0 through 50 {
  @if $i <= 25 {
    @if $i % 2 == 0 or $i % 5 == 0 {
      .m-#{$i} {
        margin: #{$i}px #{if($i == 0, '!important', '')};
      }
      .p-#{$i} {
        padding: #{$i}px #{if($i == 0, '!important', '')};
      }

      .mx-#{$i} {
        margin-left: #{$i}px #{if($i == 0, '!important', '')};
        margin-right: #{$i}px #{if($i == 0, '!important', '')};
      }
      .-mx-#{$i} {
        margin-left: #{-$i}px #{if($i == 0, '!important', '')};
        margin-right: #{-$i}px #{if($i == 0, '!important', '')};
      }
      .my-#{$i} {
        margin-top: #{$i}px #{if($i == 0, '!important', '')};
        margin-bottom: #{$i}px #{if($i == 0, '!important', '')};
      }
      .px-#{$i} {
        padding-left: #{$i}px #{if($i == 0, '!important', '')};
        padding-right: #{$i}px #{if($i == 0, '!important', '')};
      }
      .py-#{$i} {
        padding-top: #{$i}px #{if($i == 0, '!important', '')};
        padding-bottom: #{$i}px #{if($i == 0, '!important', '')};
      }
      @each $short, $long in l left, t top, r right, b bottom {
        // 缩写版，结果如： m-l-30
        // 定义外边距
        .m#{$short}-#{$i} {
          margin-#{$long}: #{$i}px #{if($i == 0, '!important', '')};
        }

        // 定义内边距
        .p#{$short}-#{$i} {
          padding-#{$long}: #{$i}px #{if($i == 0, '!important', '')};
        }
      }
    }
  } @else if $i > 25 and $i <= 50 {
    @if $i % 5 == 0 {
      .m-#{$i} {
        margin: #{$i}px;
      }
      .p-#{$i} {
        padding: #{$i}px;
      }

      .mx-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
      }
      .-mx-#{$i} {
        margin-left: #{-$i}px;
        margin-right: #{-$i}px;
      }
      .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
      }
      .px-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
      }
      .py-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
      }

      @each $short, $long in l left, t top, r right, b bottom {
        // 缩写版，结果如： m-l-30
        // 定义外边距
        .m#{$short}-#{$i} {
          margin-#{$long}: #{$i}px;
        }

        // 定义内边距
        .p#{$short}-#{$i} {
          padding-#{$long}: #{$i}px;
        }
      }
    }
  }
}